body {
    margin: 0;
    background-color: #f2d8d8;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transform: scale(1);
    transition: all 0.3s ease;
    transform-origin: bottom right;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    max-height: fit-content;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    & > a {
        font-size: 20px;
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: #e6f8f4;
        color: gray;
        margin: 10px;
        border-radius: 10px;
        &:hover {
            background-color: #caf0e6;
        }
    }
}

.icon {
    position: relative;
    color: rgb(194, 32, 32);
    font-size: 20px;
    top: 3px;
    right: 5px;
}

.icon-phone {
    position: relative;
    color: green;
    font-size: 20px;
    top: 3px;
    right: 5px;
}

.image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 10px;
}
